buildserver="https://macgyver.fablab.fau.de/~buildserver/" 
buildserver_trigger_url="https://macgyver.fablab.fau.de/trigger_build.php"
REPO_URL_PREFIX=https://github.com/fau-fablab/
HOME=/home/buildserver/
REPOS_DIR="$HOME"
OUTPUT_DIR="$HOME/public_html"
# repos whose output is fetched from https://github.com/fau-fablab/<repo>/releases/latest/download/output.tar.gz
repos=("document-dummy" "fraese-einweisung" "buttonpresse-einweisung")
